<div class="row"> <div class="span6 offset3">
  <h1>select books</h1>
</div> </div>

<div class="row"> <div class="span8 offset4">
  <%= form_tag("/home/editions") do -%>
    <ul class="books">
      <%= hidden_field_tag 'query_id', @query.id %> 
      <%= "No valid books on selected shelves" if @books.blank? %>
      <% @books.each do |book| %>
        <li> 

          <%# TODO: pad image to minimum width so text is aligned %>
          <%#= image_tag book.image, alt: "book cover" %>

          <label class="checkbox">
          <%= check_box_tag "book_ids[]", book.id, true %>
          <div class="title"><%= book.title %></div>
          <div class="author"><%= book.author %></div>
          </label>
          <hr>
        </li>
      <% end %>
    </ul>
    <div><%= submit_tag 'Continue' %></div>
  <% end %>
</div> </div>

<div class="row"> 
    <%= debug(@books) %>
</div>

<%= debug(@books_debug) if Rails.env.development? %>
