<div class="row"> <div class="span6 offset3">
  <h1>select editions</h1>
</div> </div>

<div class="row"> <div class="span8 offset4">
    <%= form_tag("/home/query") do -%>
      <%= hidden_field_tag 'query_id', @query.id %> 
      <%= "No valid editions" if @query.books.blank? %>
      <%# debugger %>
      <% @query.books.each do |book| %>
        <h3><b><%= book.title %></b></h3>
        <ul class="books">

        <% book.editions.each do |edition| %>

        <li> 
        <label class="checkbox">

          <%= check_box_tag "edition_ids[]", edition.id, true %>
          <div class="title"><%= edition.title %></div>
          <div class="author">
            <%= edition.author %> &#x2022;
            <%= edition.published_date %> &#x2022;
            <%= edition.ed %>
          </div>

        </label>
        <hr><br>
        </li>

        <% end %>
        </ul>
        <hr>
      <% end %>
      <div><%= submit_tag 'Save' %></div>
    <% end %>
</div> </div>


<%#= debug(@book_editions) %>
