<div class="row"> <div class="span6 offset3">
  <h1>results</h1>
</div> </div>

<div class="row"> <div class="span10 offset4">
      <%= "No results" if @seller_listings.blank? %>
      <% @seller_listings.each do |seller| %>
        <div class="sellers">
          <span class="seller"><%= seller.name %></span>
          <span class="feedback">
              ( <%= seller.best.length %> )
              ( <%= seller.feedback_count %> feedback / 
              <%= seller.feedback_rating %>% positive )
          </span>
        <ul>

        <% seller.best.each do |li| %>

            <li> 
            <div class="book">
            <a href="<%= li.half_item_url %>" target="_blank">
            <div class="title">
                <span class="price">$<%= "%.2f" % li.price %></span>
                <%= li.edition.book.title %>
            </div>
            <div class="details">
                <%= li.edition.book.author %> <br>
                <%= li.condition.titleize %> &#x2022;
                <%= li.edition.published_date %> &#x2022;
                <%= li.edition.ed %>
                <br><%= li.comments %>
            </div>
            </a>
            </div>

            <hr><br>
            </li>

        <% end %>
        </ul>
        <hr>
      <% end %>
</div> </div>

<%= debug(@seller_listings) %>
<%= debug(@debug_half_search) %>
