<div class="row">
  <div class="span6 offset3">
  <h1>select shelves</h1>

    Goodreads user id: <%= @goodreads_user_id %> <br />
    Goodreads api key: <%= ENV["GOODREADS_KEY"] %> <br />

    <ul>
        <%= form_tag("/home/books") do -%>
          <% @user_shelves.each do |shelf| %>
            <%#=label_tag shelf.name, shelf.name, class: 'checkbox' %>
            <label class="checkbox">
              <%=check_box_tag 'shelves[]', shelf.name %>
              <%=shelf.name %>
            </label>
          <% end -%>
        <div><%= submit_tag 'Save' %></div>
      <% end %>
    </ul>

  </div>
</div>
