<div class="row">
  <div class="span6 offset3">
  <h1>select shelves</h1>

    <ul>
        <%= form_tag("/home/books") do -%>
          <%= hidden_field_tag 'goodreads_user_id', @goodreads_user_id %> 
          <% @shelves.each do |shelf| %>
            <label class="checkbox">
              <%=check_box_tag 'shelves[]', shelf.name %>
              <%=shelf.name %>
            </label>
          <% end -%>
        <div><%= submit_tag 'Continue' %></div>
      <% end %>
    </ul>

  </div>
</div>
